* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 400px;
    height: 500px;
    border-radius: 9px;
    background-color: white;
    padding: 20px;
}

#card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}

#card h3 {
    font-size: 30px;
    padding: 10px 33%;
    text-align: center;
}

#card h5 {
    font-size: 22px;
    margin: 20px 30%;
    color: aqua;
    text-align: center;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#card button {
    font-weight: 800;
    color: rgb(0, 38, 255);
    background-color: aquamarine;
    border: none;
    padding: 10px 15px;
    margin: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
}

/* #card #remove{
    background-color: #dadada;
    color: black;
} */